<!--
  Status Icons: ping connection

  This component shows a an icon indication the ability to ping the remote
  computer. The icon is highlighted when the connection is verified.
-->

<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/iron-icons/notification-icons.html'>

<link rel='import' href='../status-icon/status-icon-input-behavior.html'>
<link rel='import' href='../status-icon/status-icon-styles.html'>
<link rel='import' href='../status-icon/status-icon.html'>

<dom-module id='status-icon-ping'>
  <template>
    <style include='status-icon-styles'></style>

    <status-icon id='icon' icon='notification:wifi' show-status-check='[[showStatusCheck]]'>
      <span>Status: {{status}}</span>
      <span>IP Address: {{ipAddress}}</span>
    </status-icon>
  </template>

  <script>
    Polymer({
      is: 'status-icon-ping',

      properties: {
        ipAddress: {
          type: String,
          notify: true,
          readOnly: true,
          value: 'n/a'
        },
        status: {
          type: String,
          notify: true,
          readOnly: true,
          value: 'unchecked' // unchecked, disconnected, connected
        }
      },

      behaviors: [
        Blue.StatusIconInputBehavior
      ],

      description: function() {
        return `ping (${this.currentValue})`;
      },

      onInvalidInput: function() {
        this.$.icon.setIconStatus('highlight', false);
      },

      checkStatus: function() {
        const network = require('./lib/network');

        if (this.showStatusCheck) {
          this.$.icon.showSpinner();
        }

        network.ping(this.currentValue)
        .then(response => {
          this._setIpAddress(response.success ? response.ip : 'n/a');
          this._setStatus(response.success ? 'connected' : 'disconnected');

          this.$.icon.setIconStatus('highlight', response.success);

          if (this.showStatusCheck) {
            this.$.icon.hideSpinner();
          }
        })
        .done();
      }
    });
  </script>
</dom-module>
