<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/paper-input/paper-input.html'>
<link rel='import' href='../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html'>
<link rel='import' href='../../../bower_components/paper-listbox/paper-listbox.html'>
<link rel='import' href='../../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>

<link rel='import' href='../status-icon-ping/status-icon-ping.html'>
<link rel='import' href='../status-icon-ssh/status-icon-ssh.html'>
<link rel='import' href='../dialogs/dialog-new-computer.html'>
<link rel='import' href='./card-behavior.html'>
<link rel='import' href='./card-styles.html'>

<dom-module id='card-edit'>
  <template>
    <style include='card-styles'>
      :host {
        --paper-input-container-underline: {
          background: #aaa;
        }
      }

      paper-dropdown-menu {
        width: 100%;
      }

      paper-button {
        --paper-button-ink-color: var(--paper-indigo-100);
      }

      paper-button:hover {
        color: var(--paper-pink-a200);
      }

      footer {
        border: 0;
        text-align: center;
      }
    </style>

    <paper-card>
      <header>
        <img src='{{image}}' class$='{{type}}'/>
      </header>

      <div class='card-content'>
        <!-- TYPE -->
        <paper-dropdown-menu label='type' on-iron-select='changeType' noink>
          <paper-listbox class='dropdown-content' selected='{{selectedTypeIndex(typeInfo, type)}}'>
            <paper-item data-key='macbook'>Macbook</paper-item>
            <paper-item data-key='imac'>iMac</paper-item>
            <paper-item data-key='macpro'>Mac Pro</paper-item>
            <paper-item data-key='macmini'>Mac Mini</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>

        <!-- ADDRESS -->
        <paper-input label='address' value='{{address}}' on-change='changeAddress' required auto-validate>
          <status-icon-ping show-status-check suffix></status-icon-ping>
        </paper-input>

        <!-- USERNAME -->
        <paper-input label='username' value='{{username}}' on-change='changeUsername' required auto-validate>
          <status-icon-ssh address='{{address}}' manage-key show-status-check suffix></status-icon-ssh>
        </paper-input>

        <!-- NICKNAME -->
        <paper-input label='nickname' value='{{nickname}}' on-change='changeNickname'></paper-input>
      </div>

      <footer class='card-actions'>
        <paper-button on-tap='save'>Save</paper-button>
      </footer>
    </paper-card>
  </template>

  <script>
    Polymer({
      is: 'card-edit',

      behaviors: [
        Blue.CardBehavior
      ],

      // INPUT HANDLERS
      changeType: function(e, detail) {
        this.type = detail.item.dataset.key;
      },

      changeAddress: function(e) {
        const S = require('string');
        this.address = e.target.value;

        // prefill nickname to match the address
        if (!this.nickname) {
          this.nickname = S(this.address).chompRight('.local').toString();
        }
      },

      changeUsername: function(e) {
        this.username = e.target.value;
      },

      changeNickname: function(e) {
        this.nickname = e.target.value;
      },

      // SAVE HANDLERS
      save: function() {
        if (!this.address || !this.username) {
          alert('adress and username are required');
          return;
        }

        const db = require('./lib/db');

        if (this.cardId == null) {
          // a brand spanking new card
          this.showNewComputerDialog();
        } else if (this.cardId == -1) {
          // a brand new card, setup completed and ready for saving
          console.log('creating new card...');

          db.newCard({
            username: this.username,
            address: this.address,
            nickname: this.nickname,
            type: this.type
          })
          .then(newCard => {
            this.cardId = newCard._id;
            this.fire('card-saved', newCard);
          });
        } else {
          // update an existing card
          console.info('updating card');
        }
      },

      // DIALOG HANDLERS
      showNewComputerDialog: function() {
        // TODO find a better way to open dialogs at body level
        if (!this.newComputerDialog) {
          this.newComputerDialog = document.createElement('dialog-new-computer');
          this.listen(this.newComputerDialog, 'dialog-closed', '_onDialogClosed');
          Polymer.dom(document.body).appendChild(this.newComputerDialog);
        }
        this.newComputerDialog.open();
      },

      _onDialogClosed: function(e, reason) {
        const setup = require ('./lib/setup');

        Polymer.dom(document.body).removeChild(this.newComputerDialog);
        
        if (reason.confirmed) {
          setup.initialSetup(this.address, this.username)
          .then(() => {
            console.info('initial setup completed on remote machine');
            this.cardId = -1;
            this.save();
          })
          .done();
        }
      }
    });
  </script>
</dom-module>
