<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/paper-progress/paper-progress.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../../bower_components/iron-icons/hardware-icons.html'>
<link rel='import' href='../../../bower_components/iron-icons/device-icons.html'>

<link rel='import' href='../dialogs/dialog-confirmation.html'>
<link rel='import' href='../dialogs/dialog-change-nickname.html'>
<link rel='import' href='../status-icon-ping/status-icon-ping.html'>
<link rel='import' href='../status-icon-ssh/status-icon-ssh.html'>
<link rel='import' href='../status-icon-bluetooth/status-icon-bluetooth.html'>
<link rel='import' href='./card-behavior.html'>
<link rel='import' href='./card-styles.html'>

<dom-module id='card-view'>
  <template>
    <style include='card-styles'>
      paper-progress {
        width: 100%;
        display: none;
        position: absolute;
        --paper-progress-container-color: #fff;
        --paper-progress-active-color: var(--google-green-300);
        /*opacity: .6;*/
      }

      header {
        flex-direction: column;
      }

      img.imac {
        max-width: 85%;
      }

      .nickname {
        margin-top: 8px;
        font-size: 25px;
        font-family: system, -apple-system,  "Helvetica Neue", sans-serif;
      }

      .status {
        display: flex;
        justify-content: center;
      }

      .status > * {
        margin: 0 3px;
        opacity: .8;
      }

      .status > *:hover {
        opacity: 1;
      }

      .card-content {
        padding-top: 4px;
      }

      .card-actions {
        display: flex;
        flex-direction: column;
        padding: 15px;
      }

      .card-actions paper-button:hover {
        font-weight: bold;
      }

      .card-actions paper-button iron-icon {
        width: 18px;
        height: 18px;
        color: #777;
        margin-right: 6px;
      }
    </style>

    <paper-card on-contextmenu='_onContextMenu'>
      <paper-progress id='progress' class='animated' indeterminate></paper-progress>
      <header>
        <img src='{{image}}' class$='{{type}}'/>
        <div class='nickname'>[[nickname]]</div>
      </header>

      <div class='card-content'>
        <div class='status'>
          <status-icon-ping
            current-value='[[address]]'
            auto-check-status>
          </status-icon-ping>

          <status-icon-bluetooth
            address='[[address]]'
            username='[[username]]'
            auto-check-status>
          </status-icon-bluetooth>

          <!-- 2 minutes -->
          <status-icon-ssh
            address='[[address]]'
            current-value='[[username]]'
            auto-check-interval='120000'
            auto-check-status>
          </status-icon-ssh>

        </div>
      </div>

      <div class='card-actions'>
        <paper-button on-tap='switchToComputer'>
          <iron-icon icon='hardware:keyboard'></iron-icon>
          Switch to this computer
        </paper-button>

        <paper-button on-tap='enableBluetooth'>
          <iron-icon icon='device:bluetooth-searching'></iron-icon>
          Turn bluetooth on
        </paper-button>

        <paper-button on-tap='disableBluetooth'>
          <iron-icon icon='device:bluetooth-disabled'></iron-icon>
          Turn bluetooth off
        </paper-button>

        <paper-button on-tap='targetDisplayMode' hidden$='{{!_showTargetDisplayAction(type)}}'>
          <iron-icon icon='hardware:desktop-windows'></iron-icon>
          Target Display Mode
        </paper-button>

        <paper-button on-tap='shutdown'>
          <iron-icon icon='power-settings-new'></iron-icon>
          Shutdown
        </paper-button>
      </div>
    </paper-card>
  </template>

  <script>
    Polymer({
      is: 'card-view',

      behaviors: [
        Blue.CardBehavior
      ],

      _showTargetDisplayAction(type) {
        return type == 'imac';
      },

      _showProgress: function() {
        this.$.progress.style.display = 'block';
        this.$.progress.classList.add('fadeIn');
      },

      _hideProgress: function() {
        const Q = require ('Q');
        this.$.progress.classList.remove('fadeIn');
        this.$.progress.classList.add('fadeOut');
        Q.delay(1000).then(() => {
          this.$.progress.style.display = 'none';
        });
      },

      _onContextMenu: function(e) {
        const menu = require('./menu/context');
        menu.showWithDefaults(e, [
          {
            label: 'Change Nickname',
            click: () => { this.changeNickname() }
          },
          {
            type: 'separator'
          },
          {
            label: 'Delete Computer',
            click: () => { this.remove() }
          }
        ]);
      },

      // ACTIONS
      switchToComputer: function() {
        this._showProgress();
      },

      enableBluetooth: function() {
        const bluetooth = require('./lib/bluetooth');

        this._showProgress();
        bluetooth.turnOn(this.address, this.username)
        .then(() => this._hideProgress())
        .done();
      },

      disableBluetooth: function() {
        const bluetooth = require('./lib/bluetooth');

        this._showProgress();
        bluetooth.turnOff(this.address, this.username)
        .then(() => this._hideProgress())
        .done();
      },

      targetDisplayMode: function() {
        const misc = require('./lib/misc');

        this._showProgress();
        misc.toggleTargetDisplayMode(this.address, this.username)
        .then(() => this._hideProgress())
        .done();
      },

      shutdown: function() {
        this.confirm = document.createElement('dialog-confirmation');
        this.confirm.message = `Are you sure you want to shutdown '${this.nickname}'?`;
        this.listen(this.confirm, 'dialog-closed', '_doShutdown');
        Polymer.dom(document.body).appendChild(this.confirm);
        this.confirm.open();
      },

      _doShutdown: function(e, reason) {
        const misc = require('./lib/misc');

        Polymer.dom(document.body).removeChild(this.confirm);

        if (reason.confirmed) {
          this._showProgress();
          misc.shutdown(this.address, this.username)
          .then(() => this._hideProgress())
          .done();
        }
      },

      remove: function() {
        this.confirm = document.createElement('dialog-confirmation');
        this.confirm.message = `Are you sure you want to delete '${this.nickname}'?`;
        this.listen(this.confirm, 'dialog-closed', '_doRemove');
        Polymer.dom(document.body).appendChild(this.confirm);
        this.confirm.open();
      },

      _doRemove: function(e, reason) {
        const db = require('./lib/db');

        Polymer.dom(document.body).removeChild(this.confirm);

        if (reason.confirmed) {
          db.removeCard(this.cardId)
          .then(() => {
            console.info('card removed', this.cardId);
            this.fire('card-removed', {element: this, id: this.cardId});
          })
          .done();
        }
      },

      changeNickname: function() {
        this.nicknameDialog = document.createElement('dialog-change-nickname');
        this.nicknameDialog.nickname = this.nickname;
        this.listen(this.nicknameDialog, 'dialog-closed', '_doChangeNickname');
        Polymer.dom(document.body).appendChild(this.nicknameDialog);
        this.nicknameDialog.open();
      },

      _doChangeNickname: function(e, data) {
        const db = require('./lib/db');

        Polymer.dom(document.body).removeChild(this.nicknameDialog);

        if (data.reason.confirmed) {
          db.updateCard(this.cardId, {nickname: data.nickname})
          .then(() => {
            this.nickname = data.nickname;
          })
          .done();
        }
      }
    });
  </script>
</dom-module>
