<link rel='import' href='../../../bower_components/polymer/polymer.html'>

<link rel='import' href='./card-edit.html'>
<link rel='import' href='./card-view.html'>
<link rel='import' href='../x-add/x-add.html'>

<dom-module id='card-list'>
  <template>
    <style>
      :host {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 30px;
        justify-content: center;
        flex-wrap: wrap;
      }

      card-view, card-edit {
        margin: 0 15px;
      }

      x-add {
        position: fixed;
        bottom: 12px;
        right: 12px;
        width: 42px;
        height: 42px;
      }
    </style>

    <template is='dom-repeat' items='{{cards}}' sort='_sort'>
      <card-view
        class$='[[_cardAnimation(cards)]]'
        card-id='[[item._id]]'
        type=[[item.type]]
        address='[[item.address]]'
        username='[[item.username]]'
        nickname='[[item.nickname]]'
        on-card-removed='_onCardRemoved'>
      </card-view>
    </template>

    <x-add on-tap='newCard' class='animated fadeIn'></x-add>
  </template>

  <script>
    Polymer({
      is: 'card-list',

      properties: {
        cards: {
          type: Array,
          value: []
        }
      },

      _sort: function(card1, card2) {
        return card1.createdAt - card2.createdAt;
      },

      _cardAnimation: function(cards) {
        return cards.length < 2 ? 'animated slideInLeft' : 'animated zoomIn';
      },

      newCard: function() {
        this.tmpCard = document.createElement('card-edit');
        this.listen(this.tmpCard, 'card-saved', '_onCardSaved');
        Polymer.dom(this.root).appendChild(this.tmpCard);
      },

      _onCardSaved: function(e, card) {
        const Q = require('q');
        Q.fcall(() => {
          this.tmpCard.classList.add('animated', 'zoomOut');
        })
        .delay(1000).then(() => {
          Polymer.dom(this.root).removeChild(this.tmpCard);
          this.push('cards', card);
        });
      },

      _onCardRemoved: function(e, data) {
        let index = -1;
        for (let i = 0; i < this.cards.length; i++) {
          if (this.cards[i]._id == data.id) {
            index = i;
            break;
          }
        }

        if (index > -1) {
          const Q = require('q');
          data.element.classList.add('animated', 'zoomOut');
          Q.delay(1100).then(() => {
            this.splice('cards', index, 1);
          });
        }
      }
    });
  </script>
</dom-module>
