<dom-module id='card-styles'>
  <template>
    <style>
      :host {
        width: 300px;
      }
      
      paper-card {
        width: 100%;
      }

      header {
        padding: 25px 45px 0;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        max-width: 100%;
      }

      img.macbook {
        max-width: 80%;
      }

      img.imac {
        max-width: 90%;
      }
    </style>
  </template>
</dom-module>
