<script>
  window.Blue = window.Blue || {};

  window.Blue.CardBehavior = {
    properties: {
      cardId: {
        type: Number,
        value: null
      },
      type: {
        type: 'String',
        value: 'macbook'
      },
      address: {
        type: 'String',
        notify: true
      },
      username: {
        type: 'String',
        notify: true
      },
      nickname: {
        type: 'String',
        notify: true
      },
      image: {
        type: 'String',
        readOnly: true,
        computed: 'selectedTypeImage(typeInfo, type)'
      },
      typeInfo: {
        type: Object,
        value: {
          'macbook': {index: 0, path: 'apple/macbook-original.png'},
          'imac': {index: 1, path: 'apple/imac-original.png'},
          'macpro': {index: 2, path: 'apple/macpro-small.png'},
          'macmini': {index: 3, path: 'apple/macmini-medium.png'}
        }
      }
    },

    selectedTypeIndex: function(typeInfo, type) {
      return typeInfo[type].index;
    },

    selectedTypeImage: function(typeInfo, type) {
      return this.resolveUrl(typeInfo[type].path);
    }
  };
</script>
