<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<dom-module id="blue-preferences">
  <template>
    <style>
      :host {
        --paper-input-container-underline: {
          background: #aaa;
        }
      }
    </style>
    <link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
    <blue-overlay id="overlay" title="Preferences">
      <h2>Registered Computers</h2>
      <paper-fab icon="add"></paper-fab>

      <paper-card >
        <img src="iMac.png" width="300" height="225"/>
        <div class="card-content">
          <paper-dropdown-menu label="type">
            <paper-listbox class="dropdown-content">
              <paper-item>Laptop</paper-item>
              <paper-item>iMac</paper-item>
              <paper-item>Mac Pro</paper-item>
              <paper-item>Mac Mini</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
          <paper-input label="address"></paper-input>
          <paper-input label="nickname"></paper-input>

        </div>
      </paper-card>

    </blue-overlay>
  </template>

  <script>
    Polymer({
      is: 'blue-preferences',
      show: function() {
        overlay.open();
      }
    });
  </script>
</dom-module>
