<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../blue-overlay/blue-overlay.html">
<link rel="import" href="../blue-preferences/blue-preferences.html">`

<dom-module id="blue-app">

  <template>
    <blue-status id="status"></blue-status>
    <blue-preferences id="preferences"></blue-preferences>
  </template>

  <script>
    Polymer({
      is: 'blue-app',
      ready: function() {
        this.$.preferences.show();
      },
    });
  </script>

</dom-module>
