<link rel='import' href='../../../bower_components/polymer/polymer.html'>

<link rel='import' href='../x-loading/x-loading.html'>
<link rel='import' href='../x-welcome/x-welcome.html'>
<link rel='import' href='../card/card-list.html'>

<dom-module id='main-window'>
  <template>
    <style>
      :host {
        background: #eee;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    </style>

    <x-loading id='loading' hidden></x-loading/>
    <x-welcome id='welcome'cards='{{cards}}' hidden></x-welcome>
    <card-list id='list' cards='{{cards}}' hidden></card-list>
  </template>

  <script>
    Polymer({
      is: 'main-window',

      ready: function() {
        const db = require('./lib/db');

        db.getCards()
        .then(cards => {
          this.cards = cards;
        });
      },

      properties: {
        cards: {
          type: Array,
          notify: true
        }
      },

      observers: [
        '_cardsChanged(cards.splices)'
      ],

      _cardsChanged: function() {
        if (this.cards.length == 0) {
          this.$.list.hidden = true;
          this.$.welcome.hidden = false;
          this.$.loading.active = false;
        } else {
          this.$.list.hidden = false;
          this.$.welcome.hidden = true;
          this.$.loading.delayedHide();
        }
      }
    });
  </script>
</dom-module>
