<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel='import' href='../x-overview-empty/x-overview-empty.html'>
<link rel='import' href='../edit-card/edit-card.html'>

<dom-module id='x-overview'>
  <template>
    <style include="iron-flex"></style>
    <style>
      :host {
        background: #eee;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    </style>

    <x-overview-empty hidden$='[[_empty(cards.*)]]'></x-overview-empty>
  </template>

  <script>
    Polymer({
      is: 'x-overview',

      ready: function() {
        // TODO add cards
      },

      properties: {
        cards: {
          type: Array,
          value: []
        }
      },

      _empty: function(cards) {
        return cards.base.length != 0;
      }
    });
  </script>
</dom-module>
