<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel='import' href='../x-add/x-add.html'>
<link rel='import' href='../edit-card/edit-card.html'>

<dom-module id='x-overview'>
  <template>
    <style include="iron-flex"></style>
    <style>
      :host {
        background: #eee;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .container {
        margin: 15px;
      }
    </style>

    <div class="container layout horizontal">
      <edit-card></edit-card>
      <x-add id='add'></x-add>
    </div>

  </template>

  <script>
    Polymer({
      is: 'x-overview',
      ready: function() {
        this.$.add.highlight();
      }
    });
  </script>
</dom-module>
