<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/paper-fab/paper-fab.html'>
<link rel='import' href='../../../bower_components/paper-tooltip/paper-tooltip.html'>
<link rel='import' href='../../../bower_components/iron-icons/iron-icons.html'>

<dom-module id='x-add'>
  <template>
    <style>
      :host {}
    </style>

    <div>
      <paper-fab id='button' icon='add' title='Add a New Computer Connection'></paper-fab>
    </div>
  </template>

  <script>
    Polymer({
      is: 'x-add',

      glisten: function() {
        this.$.button.getRipple().simulatedRipple();
      }
    });
  </script>
</dom-module>
