<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">

<dom-module id="blue-overlay">
  <template>
    <style>
      :host {
        background: #eee;
        width: 100%;
        height: 100%;

      }

      .header {
        text-align: center;
        box-shadow: 1px 1px 3px #ddd;
        background: white;
      }

      .header h1 {
        margin: 0
      }

      .body {
        padding: 20px 200px;
      }

    </style>

    <div>
      <div class="header">
        <h1>[[title]]</h1>
      </div>
      <div class="body">
        <content></content>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'blue-overlay',
      behaviors: [
        Polymer.IronOverlayBehavior
      ],
      properties: {
        title: {
          type: 'String',
          value: "Overlay"
        }
      }
    });
  </script>
</dom-module>
