<!--
  Status Icons: ssh connection

  This component shows a 'key' icon which indicates the status of the
  ssh connection.

  If enabled, a warning icon is shown when the ssh key file does not exist.
  A highlighted key icon is shown when the connection cannot be established.
  Both icons can be clicked to open up dialogs to address the issue.

  The icon is highlighted green when the connection is verified.
-->

<link rel='import' href='../../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../../bower_components/iron-icons/communication-icons.html'>
<link rel='import' href='../../../bower_components/iron-icon/iron-icon.html'>

<link rel='import' href='../status-icon/status-icon-input-behavior.html'>
<link rel='import' href='../status-icon/status-icon-styles.html'>
<link rel='import' href='../dialogs/dialog-create-key.html'>
<link rel='import' href='../dialogs/dialog-copy-key.html'>
<link rel='import' href='../status-icon/status-icon.html'>

<dom-module id='status-icon-ssh'>
  <template>
    <style include='status-icon-styles'>
      iron-icon {
        color: var(--google-yellow-700);
        cursor: pointer;
      }

      .hide {
        display: none;
      }
    </style>

    <!--  icon to show SSH connection status -->
    <status-icon icon='communication:vpn-key' id='icon' show-status-check='[[showStatusCheck]]'>
      <span>SSH Status: {{status}}</span>
    </status-icon>

    <!-- icon and dialog to inform user they need to create the SSH key -->
    <iron-icon
      id='createKeyIcon'
      icon='warning'
      class='hide'
      title='click me!'
      on-tap='showCreateKey'>
    </iron-icon>
    <dialog-create-key id='createKeyDialog'></dialog-create-key>

    <!-- icon and dialog allowing user to copy key to the other computer -->
    <iron-icon
      icon='communication:vpn-key'
      id='copyKeyIcon'
      class='hide'
      title='click me!'
      on-tap='showCopyKey'>
    </iron-icon>
  </template>

  <script>
    Polymer({
      is: 'status-icon-ssh',

      properties: {
        address: {
          type: 'String'
        },
        status: {
          type: 'String',
          notify: true,
          readOnly: true,
          value: 'unverified' // unverified, verified
        },
        manageKey: {
          type: Boolean,
          value: false
        }
      },

      behaviors: [
        Blue.StatusIconInputBehavior
      ],

      listeners: {
        'dialog-closed': 'onDialogClosed'
      },

      ready: function() {
        this.copyKeyDialog = null;
      },

      detached: function() {
        if (this.copyKeyDialog && this.copyKeyDialog.parentNode) {
          Polymer.dom(document.body).removeChild(this.copyKeyDialog);
        }
      },

      onDialogClosed: function() {
        // when dialogs are closed, the user has probably taken an action like
        // creating a key or copy a key, so check the status again.
        this.checkStatus();
      },

      onInvalidInput: function() {
        this.$.icon.setIconStatus('highlight', false);
      },

      checkStatus: function() {
        const ssh = require('./lib/ssh');

        if (this.showStatusCheck) {
          this.$.icon.showSpinner();
        }

        ssh.checkConnection(this.address,this.currentValue)
        .then(verified => {
          this._setStatus(verified ? 'verified' : 'unverified');

          if (this.showStatusCheck) {
            this.$.icon.hideSpinner();
          }

          if (verified) {
            this.$.icon.setIconStatus('highlight', true);
            this.$.icon.classList.remove('hide');
            this.$.copyKeyIcon.classList.add('hide');
            this.$.createKeyIcon.classList.add('hide');
          } else if (!verified && this.manageKey) {
            ssh.checkKeyExists()
            .then(exists => {
              if (!exists) {
                // show create key
                this.$.icon.classList.add('hide');
                this.$.copyKeyIcon.classList.add('hide');
                this.$.createKeyIcon.classList.remove('hide');
                this.$.createKeyIcon.classList.add('animated', 'jello');
              } else {
                // show copy key
                this.$.icon.classList.add('hide');
                this.$.createKeyIcon.classList.add('hide');
                this.$.copyKeyIcon.classList.remove('hide');
                this.$.copyKeyIcon.classList.add('animated', 'jello');
              }
            });
          }
        });
      },

      showCreateKey: function() {
        this.$.createKeyDialog.open();
      },

      showCopyKey: function() {
        // TODO find a better way to open dialogs at body level
        if (!this.copyKeyDialog) {
          this.copyKeyDialog = document.createElement('dialog-copy-key');
          this.listen(this.copyKeyDialog, 'dialog-closed', 'onDialogClosed');
          Polymer.dom(document.body).appendChild(this.copyKeyDialog);
        }

        this.copyKeyDialog.username = this.currentValue;
        this.copyKeyDialog.address = this.address;
        this.copyKeyDialog.open();
      }
    });
  </script>
</dom-module>
