* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden; /* todo scrolling */
}

body {
  margin: 0;
  height: 100%;
  color: #333;
  line-height: 1.6;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

a:active, a:hover {
  outline: 0;
}

button, input {
  margin: 0;
}
