<!--
  Dialogs: copy ssh key

  This dialog informs the user they need to copy their public ssh key
  to the remote machine, and provides an option to automatically do so.
 -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel='import' href='../../../bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='../../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../../bower_components/paper-input/paper-input.html'>
<link rel='import' href='../../../bower_components/paper-spinner/paper-spinner.html'>

<dom-module id="dialog-copy-key">
  <template>
    <style>
      strong {
        color: #333;
      }

      .hidden {
        display: none;
      }

      paper-input {
        display: inline-block;
        min-width: 350px;
      }

      .input-suffix {
        font-size: 13px;
      }

      .actions {
        display: flex;
        align-items: center;
        margin-top: 25px;
      }

      .send-button {
        margin: 0;
      }

      .send-button:not([disabled]) {
        color: white;
        background-color: var(--paper-indigo-500);
      }

      .send-button iron-icon {
        margin-left: 4px;
        width: 15px;
        height: 15px;
      }

      paper-spinner {
        margin-left: 12px;
      }

      .resultIcon {
        color: var(--paper-deep-orange-a700);
        margin-left: -25px;
      }

      .resultIcon.success {
        color: var(--google-green-500);
      }
    </style>

    <paper-dialog id='dialog' on-iron-overlay-closed='_onClose'>
      <h2>Copy Your SSH Key</h2>
      <p>
        To run commands on another computer it must have a copy of your public
        key (~/.ssh/id_rsa.pub). You can manually copy your public key to the
        other computer by following instructions you can find online. Otherwise
        you can have it automatically copied below.
      </p>
      <p>
        To automatically copy your key, you must provide the password for the user
        <strong>[[username]]</strong> on the computer <strong>[[address]]</strong>.
        This password will not be stored or used in any other way but to copy
        your public key.
      </p>
      <div>
        <paper-input id='password' label='password' type='password' on-keyup='_onPasswordChanged'>
          <div class='input-suffix' suffix>[[username]]@[[address]]</div>
        </paper-input>
      </div>
      <div class='actions'>
        <paper-button id='send' class='send-button' on-tap='_onSend' raised disabled>
          Send
          <iron-icon icon="arrow-forward"></iron-icon>
        </paper-button>
        <paper-spinner id='spinner'></paper-spinner>
        <iron-icon icon='done' class='resultIcon hidden' id='resultIcon'></iron-icon>
      </div>
      <div class='buttons'>
        <paper-button dialog-dismiss>Done</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    Polymer({
      is: 'dialog-copy-key',

      properties: {
        username: {
          type: 'String'
        },
        address: {
          type: 'String'
        }
      },

      open: function() {
        this.$.dialog.open();
      },

      _onClose: function() {
        this.$.password.value = '';
        this.$.spinner.active = false;
        this.fire('dialog-closed');
      },

      _onPasswordChanged: function(e) {
        this.$.send.disabled = e.target.value == '';
        this.toggleClass('hidden', true, this.$.resultIcon);
      },

      _onSend: function() {
        const ssh = require('./lib/ssh');

        this.toggleClass('hidden', true, this.$.resultIcon);
        this.$.send.disabled = true;
        this.$.spinner.active = true;

        ssh.sendPublicKey(this.address, this.username, this.$.password.value)
        .then(() => {
          this.$.spinner.active = false;
          this.$.resultIcon.icon = 'done';
          this.$.resultIcon.title = 'successfully sent key!';
          this.$.send.disabled = true;
          this.toggleClass('success', true, this.$.resultIcon);
          this.toggleClass('hidden', false, this.$.resultIcon);
        }, (error) => {
          this.$.spinner.active = false;
          this.$.resultIcon.icon = 'error';
          this.$.resultIcon.title = error;
          this.$.send.disabled = this.$.password.value == '';
          this.toggleClass('success', false, this.$.resultIcon);
          this.toggleClass('hidden', false, this.$.resultIcon);

        });
      }
    });
  </script>
</dom-module>
